<ion-header> </ion-header>

<ion-content>
  <div class="auth-page" >
    <div class="logo">
      <img src="../../../assets/snuggle-white.png" alt="">
      <p class="tagline">Explore your fantasies with males, females, trans and couples</p>
    </div>
    <div class="bottom">
      <div class="padding">
        <h1>Welcome</h1>
        <p>Complete few easy steps and you should be good to go</p>
        <ion-button fill="solid" shape="round" expand="block" (click)="createAccountActionSheet()">Create Account</ion-button>
        <ion-button fill="solid" shape="round" expand="block" (click)="loginActionSheet()">Login</ion-button>
      </div> 
      <p class="terms-conditions">By creating an account, you agree to our terms and conditions.</p>
    </div> 
  </div>
</ion-content>


