<ion-header> </ion-header>

<ion-content>
  
  <div class="container">
    <div class="permissions">
      <img src="../../assets/location.svg" alt="">
      <h1>Enable Location Access</h1>
      <p>Oops looks like you have denied us access to your location. Please allow location to continue using this app/</p>
    </div>
    
    <div class="btn-group">
      <ion-button class="btn" shape="round" expand="block" fill="clear" (click)="tryAgain()">Try again</ion-button>
    </div>

  </div>
</ion-content>