.logo {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    img {
      width: 80px;
    }
}

.container {
    padding: 20px;
    h1 {
        font-size: 21px;
        font-weight: bold;
    }
    h3 {
        font-size: 14px;
        font-weight: bold;
    }
    p {
        font-size: 14px;
        // padding: 20px 0;
    }

    .btn {
        margin: 20px 10px;

    }

    .not-registered {
        text-align: center;
      }
      
  
}
 

