::-webkit-scrollbar {
    display: none;
}

.logo {
    text-align: center;
    margin-top: 100px;
    img {
        width: 60px;
    }
}

ion-item {
    --padding-start: 0;
}

.form {
    padding: 20px;
    ion-item {
        --inner-padding-end:0
    }
    .form-item {
        ion-input {
            border: 2px solid #3f093885;
            --padding-start: 10px;
            border-radius: 6px;
        }
    }

    .validation-errors {
        .error-message {
            font-size: 14px;
            color: rgb(175, 4, 4);
            padding-top: 6px;
        }
    }

}
  
.not-registered {
    text-align: center;
}


.btn {
    margin-top: 20px;
}