<ion-header> </ion-header>

<ion-content>
  <div class="container">
    <div class="permissions">
      <img src="../../../assets/permissions/internet.svg" alt="">
      <h1>Connection Lost</h1>
      <p>Oops, seems like you lost connection to the world. Please check your internet connection and try again <span *ngIf="errorCount">({{errorCount}})</span>.</p>
    </div>
    
    <div class="btn-group">
      <ion-button shape="round" fill="outline" expand="block" color="white" (click)="tryAgain()">Try again</ion-button>
    </div>
  </div>
</ion-content>