
ion-content {
    --ion-background-color: #762b69;
    
}
 
.container  {
     .permissions {
        padding: 20px 30px;
        text-align: center;
        margin-top: 10vh;
        img {
            width: 120px;
            height: 200px;
        }

        h1 {
            font-size: 42px;
            font-weight: bold;
            color: #fff;
        }
         p {
            font-size: 18px;
            color: #fff;
         }
     }

     .btn-group {
        margin: 100px auto;
        padding: 0 60px;
        ion-button {
            margin: 10px 0;
            height: 50px;
            border-color: white;
            color: white;
        }
    }
}