::-webkit-scrollbar {
  display: none;
}


  
.users {
  position: relative;
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  .user { 
    position: absolute;

    ion-card {
      position: relative;
      border-radius: 16px;

      ion-card-content {
        padding: 0;

        img {
          width: 100vw;
          height: 75vh;
          border-radius: 16px;
          object-fit: cover;
          object-position: top;
          mask-image: linear-gradient(to bottom, #000, #000, transparent);
        }
        ion-item {
          --padding-start: 0px;
          position: absolute;
          left: 0;
          bottom: 5%;
          width: 100%;
          text-align: center;
          --background: transparent;
        }
        ion-label {
          h2 {
            font-size: x-large;
            font-weight: bold;
          }
           p {
            font-size: large;
           }
        }
      }
    }
  }


  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    opacity: 0;
    font-size: 100px;
  }

   
}

 

.no-swipes {
  text-align: center;
  height: 50vh;
  margin-top: 25vh;
  padding: 20px;
  
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
}
 