
ion-content {
    --ion-background-color: rgb(218, 218, 52);
}

.container  {
    padding: 10vh 20px;
    height: 80vh;
    text-align: center;
 

    .match-photos {
        display: inline-flex;
        img {
            width: 200px;
        }
    }

}

.bg-img {
    height: 100vh;
    background-size: cover;
}

.background-tint {
    background-color: rgba(0,0,0,.7);
    background-blend-mode: multiply;
}

.content{
    position: absolute;
    top: 14%;
    padding: 40px;
    font-size: 50px;
    color: white; 
    h1 {
        font-size: 70px;
        font-weight: 900;
        margin: 40px 0;
        line-height: 0.8;
    }
    h2 {
        font-size: 30px;
        font-weight: 100;
    }
    
    .btn-group {
        margin-top: 60px;
        ion-button {
            height: 52px;
            margin: 20px 0;
        }
        .button-outline {
            color: #FFF !important;
        }
    }
}

.lottie-animation.mt-10 {
    position: absolute;
}

img {
    width: 250px;
    aspect-ratio: 1;
    object-fit: cover;
    --_m: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
    -webkit-mask-box-image: var(--_m);
               mask-border: var(--_m);
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
  }
  
  /* fallback until better support for mask-border */
  @supports not (-webkit-mask-box-image: var(--_m)) { 
    img {
     --_m:
       radial-gradient(at 70% 31%,#000 29%,#0000 30%),
       radial-gradient(at 30% 31%,#000 29%,#0000 30%),
       linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
     -webkit-mask: var(--_m);
             mask: var(--_m);
    }
  } 