<ion-header>
  <ion-toolbar> 
    <ion-buttons slot="end">
      <ion-button (click)="close()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  


<ion-content class="ion-padding">


  <div class="terms-and-condition">
    <h1>Safety Tips for using snuggle:</h1>
 
    <div class="item">
      <h4>1. Protect Your Personal Information:</h4>
      <ul>
        <li>
          Avoid sharing sensitive information such as your home address, phone number, or financial details with someone you meet on the app.
        </li>
        <li>
          Use the app's messaging system instead of giving out your personal email or phone number initially.
        </li>
      </ul>
    </div>
 

    <div class="item">
      <h4>2. Stay Anonymous:</h4>
      <ul>
        <li>
          Use a username that doesn't reveal your real name to maintain your anonymity.
        </li>
        <li>
          Be cautious about sharing social media profiles that could give away too much information about your personal life.
        </li>
      </ul>
    </div>

    <div class="item">
      <h4>3. Trust Your Instincts:</h4>
      <ul>
        <li>
          If something feels off about a conversation or a person, trust your gut feeling. Don't ignore red flags..
        </li>
        <li>
          If someone makes you uncomfortable, block or report them immediately.
        </li>
      </ul>
    </div>

    <div class="item">
      <h4>4. Meet Safely:</h4>
      <ul>
        <li>
          When meeting someone in person, choose a public place like a café, restaurant, or park..
        </li>
        <li>
          Inform a friend or family member about your plans, including where you'll be and with whom.
        </li>
      </ul>
    </div>

    <div class="item">
      <h4>5. Video Call First: </h4>
      <ul>
        <li>
          Have a video call before meeting in person. It helps you verify the person's identity and get more comfortable with them.
        </li>
        <li>
          If the other person refuses to video chat, consider it a potential warning sign.
        </li>
      </ul>
    </div>


    <div class="item">
      <h4>6. Avoid Alcohol and Drugs: </h4>
      <ul>
        <li>
          Stay clear-headed during your meetings. Avoid excessive alcohol or drug use, which can impair your judgment and make you vulnerable.
        </li> 
      </ul>
    </div>


    <div class="item">
      <h4>7. Report Suspicious Activity:</h4>
      <ul>
        <li>
          Report any suspicious behavior or offensive content to the app administrators.
        </li>
        <li>
          Most dating apps have reporting features; familiarize yourself with them and use them if needed.
        </li>
      </ul>
    </div>


    <div class="item">
      <h4>8. Be Cautious with Photos:</h4>
      <ul>
        <li>
          Avoid sending explicit photos. Once sent, you lose control over where they might end up.
        </li>
        <li>
          Be mindful that photos can be used to impersonate you; consider watermarking them if you choose to share.
        </li>
      </ul>
    </div>

    <div class="item">
      <h4>9. Cybersecurity Awareness:</h4>
      <ul>
        <li>
          Be cautious about clicking on links sent by someone you've just met. These could lead to phishing websites or malware.        </li>
        <li>
          Use strong, unique passwords for your dating app accounts to prevent unauthorized access.
        </li>
      </ul>
    </div>

    <div class="item">
      <h4>10. Educate Yourself:</h4>
      <ul>
        <li>
          Stay informed about common online scams and catfishing techniques.
        </li>
        <li>
          Educate yourself about the signs of abusive relationships and manipulative behavior.
        </li>
      </ul>
    </div>

    <div class="item">
      <h4>11. Respect Boundaries:</h4>
      <ul>
        <li>
          Respect the other person's boundaries and be clear about your own.
        </li>
        <li>
          Don't pressure anyone into sharing personal information or meeting in person before they're comfortable.
        </li>
      </ul>
    </div>

    <p class="">Remember, your safety is paramount. Use these tips to navigate the dating app world responsibly and confidently. If ever in doubt, prioritize your instincts and well-being above all else.</p>
 </div>
</ion-content>