ion-slides {
   height: 100%;
}

.user-details {
  padding: 0 20px;
  margin-bottom: 20px;
  h1 {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
   }
  img {
    width: 30px;
  }
}

swiper-container::part(bullet-active) {
  background-color: #FFF;
}

swiper-container::part(bullet), 
swiper-container::part(bullet-active) {
  width: 60px;
  height: 2px;
  border-radius: unset;
}