<ion-header [translucent]="true"class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="user-preview">
    <div class="scroll">
      <img *ngFor="let u of user.images; let i=index" [src]="u">
    </div>
    <div class="fixed-scroll">
      <div class="info">
        <h1>{{user?.name}}, {{ getUserAge(user)}}</h1>
        <p>
          <ion-icon name="location-outline"></ion-icon>
          {{user.location.distance || 0}}km away
        </p>

        <ion-chip *ngFor="let extra of extras; let i=index"  [outline]="true">{{extra}}</ion-chip>

 
      </div>
    </div>
  </ion-card>
</ion-content>
