<ion-header [translucent]="true"class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container #swiper [pagination]="true">
    <swiper-slide *ngFor="let img of user.images">
      <img [src]="img" alt="img">
    </swiper-slide>
  </swiper-container>

  <div class="user-details">
    <h1 class="title">
      {{user.name}}, {{ getUserAge(user)}}
      <img *ngIf="user?.isVerified" class="verified" src="../../../assets/verify.png" alt="">
    </h1> 
    <p>
      <ion-icon name="location-outline"></ion-icon>
      {{user.location.distance ? user.location.distance + 'km away': 'Near by'}}
    </p>
    <div class="extras">
      <ion-chip *ngFor="let item of extras" outline="true">{{item}}</ion-chip>
    </div>
  </div>

</ion-content>