
<ion-header> </ion-header>

<ion-content class="modal-container ion-padding"> 
  <div class="counter" *ngIf="activeStep <= 4">Step {{activeStep + 1}}/4</div>
 
  <!-- Step 1 -->
  <div class="container" *ngIf="activeStep == 0">
    <div class="title">
      <h1>What's your name?</h1>
      <p>This is what others will see.</p>
    </div>

    <form class="modal-form" [formGroup]="signup_form">
      <ion-item  mode="ios" lines="none">
        <ion-input class="border" placeholder="Enter your name" type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message"
            *ngIf="signup_form.get('name').hasError(validation.type) && (signup_form.get('name').dirty || signup_form.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="btn-group" >
          
        <ion-button shape="round" fill="outline" (click)="cancelActionSheet()">
          Cancel
        </ion-button>
        <ion-button shape="round" [disabled]="!signup_form.get('name').valid" (click)="next()">
          Next
        </ion-button>
      </div>
    </form>
  </div>

  <!-- Step 2 -->
  <div class="container" *ngIf="activeStep == 1">
    <div class="title">
      <h1>What's your date of birth</h1>
      <p>Others will only see your age.</p>
      <p class="note">You must be 18 years or older to use this app</p>
    </div> 

    <form class="modal-form" [formGroup]="signup_form">
      <ion-datetime
        preferWheel = "true"
        [value]="selectedDate"
        [max]="maxDate"
        [min]="minDate"
        presentation="date" 
        formControlName="dob"
        size="cover"
        placeholder="Select date of birth"></ion-datetime>
      <div class="btn-group">
        <ion-button shape="round" fill="outline" (click)="back()">Back</ion-button>
        <ion-button shape="round" [disabled]="!signup_form.get('dob').valid" (click)="next()">Next</ion-button>
      </div>
    </form>
  </div>

  <!-- Step 3 -->
  <div class="container" *ngIf="activeStep == 2">
    <div class="title">
      <h1>What's your gender?</h1>
      <p>This help us find the right match for you</p>
    </div>

    <form class="modal-form" [formGroup]="signup_form">
      <ion-item class="item-choose"  lines="none"> 
        <ion-select 
          formControlName="gender"
          interface="action-sheet" 
          placeholder="Select gender"> 
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="Gay Couple">Gay Couple</ion-select-option>
            <ion-select-option value="Lesbian Couple">Lesbian Couple</ion-select-option>
            <ion-select-option value="Transgender">Transgender</ion-select-option> 
            <ion-select-option value="Non-Binary">Non-Binary</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="btn-group" >
        <ion-button shape="round" fill="outline" (click)="back()">
          Back
        </ion-button>
        <ion-button shape="round" [disabled]="!signup_form.get('gender').valid" (click)="next()">
          Next
        </ion-button>
      </div>
    </form>
  </div>


  <!-- Step 5 -->
<!--   
  <div class="container" *ngIf="activeStep == 3">
    <div class="title">
      <h1>What's your sexual orientation?</h1>
      <p>This helps us find the right match for you</p>
    </div>

    <form class="modal-form" [formGroup]="signup_form">
      <ion-item class="item-choose" lines="none"> 
        <ion-select
          formControlName="orientation"
          interface="action-sheet"
          placeholder="Select sexual orientation">
          <ion-select-option value="Straight">Straight</ion-select-option>
          <ion-select-option value="Lesbian">Lesbian</ion-select-option>
          <ion-select-option value="Gay">Gay</ion-select-option>
          <ion-select-option value="Bi">Bi</ion-select-option>
          <ion-select-option value="Transgender">Transgender</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="btn-group" >
        <ion-button shape="round" fill="outline" (click)="back()">
          Back
        </ion-button>
        <ion-button shape="round" [disabled]="!signup_form.get('orientation').valid" (click)="next()">
          Next
        </ion-button>
      </div>
    </form>
  </div> -->

  <!-- Step 4 -->
  <div class="container" *ngIf="activeStep == 3">
    <div class="title">
      <h1>What are you looking for?</h1>
      <p>These preferences can be changed, once logged in</p>
    </div>

    <form class="modal-form" [formGroup]="signup_form">
      <ion-item class="item-choose" lines="none"> 
        <ion-select
          formControlName="want"
          interface="action-sheet"
          placeholder="I am looking for"
          [multiple]="true">
            <ion-select-option value="No Strings Attached">No Strings Attached</ion-select-option>
            <ion-select-option value="Friends With Benefits">Friends With Benefits</ion-select-option>
            <ion-select-option value="One Night Stand">One Night Stand</ion-select-option> 
        </ion-select>
      </ion-item>

      <div class="title">
        <h1>With</h1>
      </div>

      <ion-item class="item-choose" lines="none"> 
        <ion-select
          formControlName="with"
          interface="action-sheet"
          placeholder="With who"
          [multiple]="true">
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="Gay Couple">Gay Couple</ion-select-option>
            <ion-select-option value="Lesbian Couple">Lesbian Couple</ion-select-option>
            <ion-select-option value="Transgender">Transgender</ion-select-option> 
            <ion-select-option value="Non-Binary">Non-Binary</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="btn-group" >
        <ion-button shape="round" fill="outline" (click)="back()">
          Back
        </ion-button>
        <ion-button shape="round" [disabled]="!signup_form.get('with').valid" (click)="createAccount()">
          Done
        </ion-button>
      </div> 
    </form>
  </div>
</ion-content>
