
ion-content {
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.container {
  background: #762b69;
  .intro {
    .logo {
      text-align: center;
      padding-top: 10vh;
      img {
        height: 10vh;
      }
  
    }
  }
  swiper-container {
    padding: 20px;
    text-align: center;
    height: 80vh;

    h1 {
      font-size: 40px;
      font-weight: bold;
      color: #FFF;
      line-height: 1;
      margin: 40px 30px;
    }
    p {
      font-size: 16px;
      color: #d7d8da;
      font-weight: 300;
      margin: 0 20px;
    }

    .slide-one {}
    .slide-two {
      img {
        width: 160px;
      }
    }
    .slide-three {
      img {
        width: 220px;
      }
      ion-button.btn {
        margin: 40px;
        height: 50px; 
        --color:#FFF;
        border: 2px solid #fff;
        font-weight: bold;
        border-radius: 40px;
      }
    }
  }

  swiper-container::part(bullet-active) {
    background-color: #FFF;
  }
  
  swiper-container::part(bullet), 
  swiper-container::part(bullet-active) {
    width: 40px;
    height: 2px;
    border-radius: unset;
  }

}
   

  
