ion-content{
    --ion-background-color:#faf9fa;
}

.header-md::after {
    height: 0;
    
}

.custom-header {
    padding: 10px 20px;
    background-color: #faf9fa;
    h1 {

        font-size: 36px;
        font-weight: bold;
    }
}

.container {

    padding: 20px;

    h1.title {
        font-weight: bold;
        font-size: 21px;
        text-align: center;
        margin-bottom: 40px;
    }

    .distance-item {
        border-radius: 8px;
        padding: 10px;
    }

    .value {
        font-weight: bold;
    }

    
    ion-range {
        --bar-background: #c1c6ca;
        --bar-background-active: #5e104d;
        --bar-height: 8px;
        --bar-border-radius: 8px;
        --knob-background: #2b0312;
        --knob-size: 40px;
        --pin-background: #ffafcc;
        --pin-color: #fff;
      }

    .btn {
        text-align: center;
        margin-top: 40px;
    }
}