<ion-header> </ion-header>

<ion-content>
  <div class="container">
    <div class="permissions">
      <img src="../../../assets/permissions/camera.svg" alt="">
      <h1>Enable Camera Access</h1>
      <p>We require camera access to capture or upload images</p>
    </div>
    
    <div class="btn-group">
      <ion-button shape="round" color="secondary" expand="block" fill="solid" (click)="dismiss()">Dismiss</ion-button>
      <ion-button shape="round" color="secondary" expand="block" fill="clear" (click)="tryAgain()">Try again</ion-button>
    </div>
  </div>
</ion-content>